{% load static %}
<div class="page-section">
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-lg-4 py-3">
                <div class="display-4 text-center text-primary"><span class="mai-pin"></span></div>
                <p class="mb-3 font-weight-medium text-lg">Address</p>
                <p class="mb-0 text-secondary">{{ address }}</p>
            </div>
            <div class="col-lg-4 py-3">
                <div class="display-4 text-center text-primary"><span class="mai-call"></span></div>
                <p class="mb-3 font-weight-medium text-lg">Phone</p>
                {% for phone in phones %}
                <p class="mb-0"><a href="#" class="text-secondary">{{ phone }}</a></p>
                {% endfor %}
            </div>
            <div class="col-lg-4 py-3">
                <div class="display-4 text-center text-primary"><span class="mai-mail"></span></div>
                <p class="mb-3 font-weight-medium text-lg">Email Address</p>
                {% for email in emails %}
                <p class="mb-0"><a href="#" class="text-secondary">{{ email }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <form method="POST" action="#" class="contact-form py-5 px-lg-5">
                    <h2 class="mb-4 font-weight-medium text-secondary">Get in touch</h2>
                    <div class="row form-group">

                        {% if feedback_form.non_field_errors %}
                        <ul>
                            {% for error in feedback_form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% csrf_token %}
                        {% for input in feedback_form %}
                    </div>
                    <div class="row form-group">

                        <label class="text-black" for="{{ input.name }}">{{ input.label }}</label>
                        {{ input }}
                        {% if input.errors %}
                        <ul>
                            {% for error in input.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% endfor %}

                        <div class="row form-group mt-4">
                            <div class="col-md-1">
                                <input type="submit" value="Send Message" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 px-0">
                <div class="maps-container">
                    <div id="google-maps"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>