{% extends 'base.html' %}

{% block content %}

<div class="page-section">
    <div class="container">
        <div class="text-center wow fadeInUp">
            <h2 class="title-section">Posts</h2>
        </div>
        {% for post in posts %}
        <div>{{ post.published_date }}</div>
        <h3 class="title-section">{{ post.title }}</h3>
        <p>{{ post.text|truncatewords:30 }}</p>
        <div class="clear"></div>
        <p class="link-read-post"><a href="{% url 'post_detail_page' pk=post.pk %}">Read more</a></p>
        {% endfor %}
    </div>
</div>
{% endblock %}