{% extends 'base.html' %}
{% load static %}
{% load blog_lib %}


{% block content %}
<div class="page-section">
    <div class="container">
        <div class="text-center wow fadeInUp">
            <h2 class="title-section">
                Account {% if user.full_name %}{{ user.full_name }}{% else %}{{ user.username}}{%endif %}
            </h2>
            <p>
                {{ user.last_login }}<br>{{ user.is_active }}
            </p>
            <ul>
                {% for user_permission in user.user_permissions.all %}
                <li>
                    {{ user_permission.name }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}