{% load static %}

<div class="page-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 py-3">
                <h2 class="title-section">Our Blog about cryptocurrency</h2>
                <div class="divider"></div>
                <p>A cryptocurrency is a digital or virtual currency that is secured by cryptography, which makes it
                    nearly impossible to
                    counterfeit or double-spend. Many cryptocurrencies are decentralized networks based on blockchain
                    technology—a
                    distributed ledger enforced by a disparate network of computers. A defining feature of
                    cryptocurrencies is that they are
                    generally not issued by any central authority, rendering them theoretically immune to government
                    interference or
                    manipulation.</p>
            </div>
            <div class="col-lg-6 py-3">
                <div class="img-fluid py-3 text-center">
                    <img src="{% static 'img/about_frame.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>